(3) Meeting Invite Email Listener for Live Join.json
{
  "name": "(3) Meeting Invite Email Listener for Live Join",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1ad4b106-0d59-4b3f-a807-9a13f7f0544e",
              "name": "botBackendUrl",
              "value": "https://teams-meeting-notetaker.onrender.com",
              "type": "string"
            },
            {
              "id": "a26369f9-39e2-43a4-a425-1ae4867a609a",
              "name": "secret_key",
              "value": "super-secret-key",
              "type": "string"
            },
            {
              "id": "64d02dfa-788f-4358-83ec-fd8fded83444",
              "name": "katie_email",
              "value": "KatieZ@masterstouchweb.com",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        832,
        544
      ],
      "id": "e22ae8f1-f11b-41b8-86e3-256030b9ad91",
      "name": "Workflow Configuration"
    },
    {
      "parameters": {
        "url": "https://graph.microsoft.com/v1.0/me/messages?&$filter=receivedDateTime ge 1900-01-01T00:00:00Z and contains(subject,'Join Teams meeting')&$orderby=receivedDateTime desc&$top=1",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1040,
        544
      ],
      "id": "c5b9582f-653d-4c29-ae92-fb9b7a0df183",
      "name": "Get Invite Email",
      "credentials": {
        "oAuth2Api": {
          "id": "ssSPNX2xiJcJTb0m",
          "name": "Microsoft Graph - Authorize Code"
        }
      }
    },
    {
      "parameters": {
        "operation": "rowNotExists",
        "dataTableId": {
          "__rl": true,
          "value": "3FL0YLoRyCgv9qnC",
          "mode": "list",
          "cachedResultName": "Katie Meeting",
          "cachedResultUrl": "/projects/EkpdkMs5fMOnKaV6/datatables/3FL0YLoRyCgv9qnC"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "email_id",
              "keyValue": "={{ $json.value[0].id }}"
            },
            {
              "keyName": "isEmailRead",
              "keyValue": "true"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1248,
        544
      ],
      "id": "c60765e5-2231-46a4-a486-3af87366d74d",
      "name": "Not Read?"
    },
    {
      "parameters": {
        "operation": "update",
        "messageId": {
          "__rl": true,
          "value": "={{ $json.email_id }}",
          "mode": "id"
        },
        "updateFields": {
          "isRead": true
        }
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        1680,
        544
      ],
      "id": "5f1f04b5-e082-428c-ba3e-f45503446d82",
      "name": "Update Email as Read",
      "webhookId": "8f5edf13-e112-4cbf-af94-6ad4e258cd8d",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "iqL1Tt6G6EOwOLPm",
          "name": "Microsoft Outlook account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const email = $('Get Invite Email').first().json.value[0];\n\n// Get email body (adjust field if your data uses a different path)\nconst body = email.bodyPreview;\n\n// Regex to match Microsoft Teams meeting URLs\nconst teamsUrlRegex = /https:\\/\\/teams\\.microsoft\\.com\\/meet\\/[^\\s\"<]+/i;\n\n// Extract URL\nconst match = body.match(teamsUrlRegex);\n\nreturn [\n  {\n    json: {\n      joinUrl: match ? match[0] : null,\n      email_id: email.id,\n      sender: email.sender.emailAddress.address\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1456,
        544
      ],
      "id": "8e302bc8-ef26-44e6-a1bf-77f5e0aade03",
      "name": "Get Email Detail"
    },
    {
      "parameters": {
        "url": "=https://graph.microsoft.com/v1.0/users/{{ $json.sender.emailAddress.address }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1920,
        544
      ],
      "id": "74422031-5bb1-4fa3-ad19-418538a7e363",
      "name": "Get User ID",
      "credentials": {
        "oAuth2Api": {
          "id": "nWbw4c10mqgIAAJ8",
          "name": "Microsoft Graph - Client Credential"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://graph.microsoft.com/v1.0/users/{{ $json.id }}/onlineMeetings?$filter=joinWebUrl eq '{{ $('Get Email Detail').item.json.joinUrl }}'",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2144,
        544
      ],
      "id": "a47377e6-4857-4669-86ed-0c9509fe40f4",
      "name": "Get Metadata of Meeting",
      "credentials": {
        "oAuth2Api": {
          "id": "nWbw4c10mqgIAAJ8",
          "name": "Microsoft Graph - Client Credential"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const meeting = $input.first().json.value[0];\nconst katie_email = $(\"Workflow Configuration\").first().json.katie_email;\n\nlet attendees = meeting.participants.attendees.map(item => (item.identity && item.identity.user.id));\n\n// attendees.push(meeting.participants.organizer.upn);\n\nif (attendees.includes(katie_email)) {\n  attendees = attendees.filter(item => item !== katie_email);\n}\n\nif (meeting.joinWebUrl) {\n  return {\n    json: {\n      meetingId: meeting.id,\n      startTime: meeting.startDateTime,\n      endTime: meeting.endDateTime,\n      joinUrl: meeting.joinUrl,\n      subject: meeting.subject,\n      organizerId: meeting.participants.organizer.identity.user.id,\n      attendeesIds: attendees\n    },\n  };\n}\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        624,
        960
      ],
      "id": "5e286c77-efd9-406a-b6f0-6c20192363ea",
      "name": "Extract Meeting Details"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Workflow Configuration').first().json.botBackendUrl + '/joinMeeting' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $('Workflow Configuration').first().json.secret_key}}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "meetingId",
              "value": "={{ $('Meeting Data').item.json.meetingId }}"
            },
            {
              "name": "joinUrl",
              "value": "={{ $('Meeting Data').item.json.joinUrl }}"
            },
            {
              "name": "startTime",
              "value": "={{ $('Meeting Data').item.json.startTime }}"
            },
            {
              "name": "endTime",
              "value": "={{ $('Meeting Data').item.json.endTime }}"
            },
            {
              "name": "subject",
              "value": "={{ $('Meeting Data').item.json.subject }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1952,
        960
      ],
      "id": "445397a9-a11c-4311-8287-a686e51b5146",
      "name": "Join Meeting Online(Teams)",
      "retryOnFail": true,
      "maxTries": 5
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "3FL0YLoRyCgv9qnC",
          "mode": "list",
          "cachedResultName": "Katie Meeting",
          "cachedResultUrl": "/projects/EkpdkMs5fMOnKaV6/datatables/3FL0YLoRyCgv9qnC"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "isEmailRead": true,
            "meetingId": "={{ $('Meeting Data').item.json.meetingId }}",
            "subject": "={{ $('Meeting Data').item.json.subject }}",
            "startTime": "={{ $('Meeting Data').item.json.startTime }}",
            "endTime": "={{ $('Meeting Data').item.json.endTime }}",
            "joinUrl": "={{ $('Meeting Data').item.json.joinUrl }}",
            "attendees": "={{ $('Meeting Data').item.json.attendees }}",
            "email_id": "={{ $('Get Email Detail').first().json.email_id }}",
            "processed": 0,
            "recallBotId": "={{ $json.recallBotId }}",
            "organizer": "={{ $('Meeting Data').item.json.organizer }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "meetingId",
              "displayName": "meetingId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "subject",
              "displayName": "subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "startTime",
              "displayName": "startTime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "endTime",
              "displayName": "endTime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "joinUrl",
              "displayName": "joinUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "join_timestamp",
              "displayName": "join_timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "left_timestamp",
              "displayName": "left_timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "attendees",
              "displayName": "attendees",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "email_id",
              "displayName": "email_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "processed",
              "displayName": "processed",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "recallBotId",
              "displayName": "recallBotId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "isEmailRead",
              "displayName": "isEmailRead",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "organizer",
              "displayName": "organizer",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        2160,
        960
      ],
      "id": "2813262d-d3f4-408b-a0b8-25609f18bbe1",
      "name": "Save Meeting"
    },
    {
      "parameters": {
        "content": "## Meeting Invite Email Listener for Live Join\n### This workflow automatically listens for new Microsoft Teams meeting invitations received via email, extracts meeting details, updates the email status, and orchestrates the joining and saving of meeting data via a bot.",
        "height": 704,
        "width": 2272
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        528,
        416
      ],
      "typeVersion": 1,
      "id": "a40f1402-9814-418b-9d68-0ebebd831a5d",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "url": "=https://graph.microsoft.com/v1.0/users/{{ $('Extract Meeting Details').first().json.organizerId }}?$select=mail",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1520,
        960
      ],
      "id": "87e2f2cf-fcec-455e-ace5-dbf54560e6d8",
      "name": "Get Organizer's Email Address",
      "credentials": {
        "oAuth2Api": {
          "id": "nWbw4c10mqgIAAJ8",
          "name": "Microsoft Graph - Client Credential"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "232a5482-6f6c-4f67-89ce-ce0088940d70",
              "leftValue": "={{ $json.attendeesIds }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        832,
        960
      ],
      "id": "a8ae7f83-3a7c-4e85-a213-643b773c45cf",
      "name": "Attendees is Not Empty?"
    },
    {
      "parameters": {
        "fieldToSplitOut": "attendeesIds",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1056,
        800
      ],
      "id": "162f67f5-df42-4f99-99ec-3ed0edd4be60",
      "name": "Split Out Attendees IDs"
    },
    {
      "parameters": {
        "jsCode": "const meeting = $('Extract Meeting Details').first();\nconst organizer = $input.first().json.mail;\nlet attendees = [];\n\nif (meeting.json.attendeesIds.length !== 0) {\n  attendees = $('Get Attendees Email Address').all().map(item => item.json.mail);\n}\n\nreturn [\n  {\n    json: {\n      ...meeting.json,\n      organizer,\n      attendees: JSON.stringify(attendees)\n    }\n  }\n]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1728,
        960
      ],
      "id": "e79055d7-98db-436a-a808-94ae9df2ecf7",
      "name": "Meeting Data"
    },
    {
      "parameters": {
        "url": "=https://graph.microsoft.com/v1.0/users/{{ $json.attendeesIds }}?$select=mail",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1280,
        800
      ],
      "id": "acc347dd-95ec-460c-8894-b1ab6c6ae82c",
      "name": "Get Attendees Email Address",
      "credentials": {
        "oAuth2Api": {
          "id": "nWbw4c10mqgIAAJ8",
          "name": "Microsoft Graph - Client Credential"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {
          "custom": "contains(subject, 'Join Teams meeting')",
          "foldersToInclude": [
            "AAMkADA3YTJiMzNhLWYzMTYtNDM4YS04NTMxLTE3YzAzNDIzMjkzZQAuAAAAAAA2xcWbuqD8TJ_2ZWxqajfyAQAfgpJqZGTZQ4_gBmxc-X8sAABCRdsYAAA="
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftOutlookTrigger",
      "typeVersion": 1,
      "position": [
        624,
        544
      ],
      "id": "e27da5ee-ce95-4a19-86aa-f1d9ea052d36",
      "name": "Microsoft Outlook Trigger - Ongoing Invites Folder",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "iqL1Tt6G6EOwOLPm",
          "name": "Microsoft Outlook account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Workflow Configuration": {
      "main": [
        [
          {
            "node": "Get Invite Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Invite Email": {
      "main": [
        [
          {
            "node": "Not Read?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Not Read?": {
      "main": [
        [
          {
            "node": "Get Email Detail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Email as Read": {
      "main": [
        [
          {
            "node": "Get User ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Email Detail": {
      "main": [
        [
          {
            "node": "Update Email as Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get User ID": {
      "main": [
        [
          {
            "node": "Get Metadata of Meeting",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Metadata of Meeting": {
      "main": [
        [
          {
            "node": "Extract Meeting Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Meeting Details": {
      "main": [
        [
          {
            "node": "Attendees is Not Empty?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Join Meeting Online(Teams)": {
      "main": [
        [
          {
            "node": "Save Meeting",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Organizer's Email Address": {
      "main": [
        [
          {
            "node": "Meeting Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Attendees is Not Empty?": {
      "main": [
        [
          {
            "node": "Split Out Attendees IDs",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Organizer's Email Address",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out Attendees IDs": {
      "main": [
        [
          {
            "node": "Get Attendees Email Address",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Meeting Data": {
      "main": [
        [
          {
            "node": "Join Meeting Online(Teams)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Attendees Email Address": {
      "main": [
        [
          {
            "node": "Get Organizer's Email Address",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Microsoft Outlook Trigger - Ongoing Invites Folder": {
      "main": [
        [
          {
            "node": "Workflow Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "ae71e160-1cde-408f-877a-df8666e9af38",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b87a9ffede84f6e2e99ef9ba12576a51d02db4c4e605200cfe4d1546834d5cc7"
  },
  "id": "rR8ZkzcPZXDeclBHloKkc",
  "tags": []
}