(7) Teams Meeting Follow-Up (4 Business Days).json
{
  "name": "(7) Teams Meeting Follow-Up (4 Business Days)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 4
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        1056,
        -192
      ],
      "id": "997e75fc-da2d-43b1-b514-2d8f4c92fcce",
      "name": "Every day at 4 PM"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "3FL0YLoRyCgv9qnC",
          "mode": "list",
          "cachedResultName": "Katie Meeting",
          "cachedResultUrl": "/projects/EkpdkMs5fMOnKaV6/datatables/3FL0YLoRyCgv9qnC"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "endTime",
              "condition": "neq",
              "keyValue": "={{ null }}"
            },
            {
              "keyName": "left_timestamp",
              "condition": "neq",
              "keyValue": "={{ null }}"
            },
            {
              "keyName": "processed",
              "keyValue": "1"
            },
            {
              "keyName": "transcript",
              "condition": "neq",
              "keyValue": "={{ null}}"
            },
            {
              "keyName": "reminderSent",
              "condition": "neq",
              "keyValue": "1"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1488,
        -192
      ],
      "id": "2d392cec-b45c-4e85-9679-ef07d33061be",
      "name": "Get Meeting Notes"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n// INPUT: meeting end time (ISO string)\nconst endTime = new Date(items[0].json.endTime);\n\n// Number of business days to count\nconst BUSINESS_DAYS = 4;\n\nlet businessDaysCounted = 0;\nlet currentDate = new Date(endTime);\n\n// Count the meeting day as Day 1 if it's a weekday\nwhile (businessDaysCounted < BUSINESS_DAYS) {\n  const day = currentDate.getDay(); // 0=Sun, 6=Sat\n\n  // Weekday check (Mon–Fri)\n  if (day !== 0 && day !== 6) {\n    businessDaysCounted++;\n  }\n\n  // Stop once we've counted enough business days\n  if (businessDaysCounted < BUSINESS_DAYS) {\n    currentDate.setDate(currentDate.getDate() + 1);\n  }\n}\n\n// OUTPUT\nreturn [\n  {\n    json: {\n      meetingEndTime: endTime.toISOString(),\n      sendAt: currentDate.toISOString()\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2608,
        -1072
      ],
      "id": "a70ed18b-747a-4d86-8d96-a43822dd47c7",
      "name": "Filter Notes to Send2"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst BUSINESS_DAYS = 4;\n\n// Get today's date range (local time)\nconst now = new Date();\n\nconst startOfToday = new Date(now);\nstartOfToday.setHours(0, 0, 0, 0);\n\nconst endOfToday = new Date(now);\nendOfToday.setHours(23, 59, 59, 999);\n\nfunction calculateSendAt(endTime) {\n  let currentDate = new Date(endTime);\n  let countedDays = 0;\n\n  while (countedDays < BUSINESS_DAYS) {\n    const day = currentDate.getDay(); // 0 = Sun, 6 = Sat\n\n    // Count only weekdays\n    if (day !== 0 && day !== 6) {\n      countedDays++;\n    }\n\n    if (countedDays < BUSINESS_DAYS) {\n      currentDate.setDate(currentDate.getDate() + 1);\n    }\n  }\n\n  return currentDate;\n}\n\n// Process & filter items\nconst results = [];\n\nfor (const item of items) {\n  if (!item.json.endTime) continue;\n\n  const endTime = new Date(item.json.endTime);\n  const sendAt = calculateSendAt(endTime);\n\n  // Keep only items that should be sent today\n  if (sendAt >= startOfToday && sendAt <= endOfToday) {\n    results.push({\n      json: {\n        ...item.json,\n        sendAt: sendAt.toISOString(),\n        shouldSendToday: true\n      }\n    });\n  }\n}\n\nreturn results;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1712,
        -192
      ],
      "id": "0ccdcf1c-91f5-4a5f-b3b5-94be1d8d24df",
      "name": "Filter Notes to Send"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\n// Helper: extract section by <h2> title\nfunction extractSection(html, title) {\n  if (!html) return \"\";\n  \n  const startTag = \"<h2>\" + title + \"</h2>\";\n  const startIndex = html.indexOf(startTag);\n  \n  if (startIndex === -1) return \"\";\n  \n  const rest = html.slice(startIndex + startTag.length);\n  const nextH2Index = rest.indexOf(\"<h2>\");\n  \n  return nextH2Index === -1 ? rest.trim() : rest.slice(0, nextH2Index).trim();\n}\n\n// Process all items\nconst output = [];\n\nfor (let i = 0; i < items.length; i++) {\n  const item = items[i];\n  \n  if (!item.json || !item.json.transcript) continue;\n  \n  let data;\n  try {\n    data = JSON.parse(item.json.transcript);\n  } catch (e) {\n    continue; // skip invalid JSON safely\n  }\n  \n  const subject = data.subject || \"\";\n  const body = data.body || \"\";\n  \n  const actionItemsHTML = extractSection(body, \"Action Items\");\n  const parkingLotHTML = extractSection(body, \"Parking Lot\");\n  \n  output.push({\n    json: {\n      id: items[i].json.id,\n      teamsMessageIds: items[i].json.teamsMessageIds,\n      subject: subject,\n      actionItemsHTML: actionItemsHTML,\n      parkingLotHTML: parkingLotHTML,\n      organizer: items[i].json.organizer,\n      attendees: JSON.parse(items[i].json.attendees),\n      // attendees: [\"RicardoA@masterstouchweb.com\", \"ricardo.alvaradob88@gmail.com\"]\n    }\n  });\n}\n\nreturn output;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1920,
        -192
      ],
      "id": "8fdaf9d1-c08b-44b8-b289-755967d51b9d",
      "name": "Extract Subject, Action Items, and Parking Lot"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1280,
        0
      ],
      "id": "548e5550-202d-43fb-a792-69f2feb25cb4",
      "name": "Loop Over Meeting Items"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2848,
        624
      ],
      "id": "e33fa4fd-73de-400e-ba55-a383199eccd5",
      "name": "Loop Over Email Address Items"
    },
    {
      "parameters": {
        "jsCode": "const emails = $(\"Loop Over Meeting Items\").first().json.attendees;\n\nreturn emails.map((item, index) => ({\n  json: { emailAddress: item },\n  pairedItem: {\n    item: index,\n  },\n}));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2528,
        496
      ],
      "id": "a486cf18-b6fe-42b8-8fc2-a3f64914e9b1",
      "name": "Split Out Email Addresses"
    },
    {
      "parameters": {
        "toRecipients": "={{ $json.emailAddress }}",
        "subject": "={{ $('Loop Over Meeting Items').item.json.subject }}",
        "bodyContent": "={{ \"<p>Just reminding everyone of these items that we discussed earlier this week, in case any slipped through the cracks.</p><br>\" + \"<h2>Action Items</h2>\" + $('Loop Over Meeting Items').item.json.actionItemsHTML + \"<br><h2>Parking Lot</h2>\" + $('Loop Over Meeting Items').item.json.parkingLotHTML + \"<br>\" + $('Workflow Configuration').first().json.signature }}",
        "additionalFields": {
          "bodyContentType": "html"
        }
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        3088,
        752
      ],
      "id": "071e7777-020d-47b9-a1b2-3abd8a20c3cc",
      "name": "Send Note to Attendees",
      "webhookId": "56c12787-ced6-41e6-b6ed-17353c1e6982",
      "retryOnFail": false,
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "iqL1Tt6G6EOwOLPm",
          "name": "Microsoft Outlook account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "06ec3c00-b73c-4e08-b8a0-1b07414b57fc",
              "name": "katie_email",
              "value": "KatieZ@masterstouchweb.com",
              "type": "string"
            },
            {
              "id": "941bc91f-bba5-49af-a280-b36f329f17a2",
              "name": "signature",
              "value": "<h4 style=\"color: #44546a; font-size: 12pt;\">Katie Zettabyte, A.I.</h4>\n<p style=\"color: #a6a6a6; font-size: 10pt; margin: 0;\">Assistant to the VP, Resident Genius</p>\n<p style=\"color: #a6a6a6; font-size: 10pt; margin: 0;\">Masters Touch Design Build</p>\n<p style=\"color: #a6a6a6; font-size: 10pt; margin: 0;\">77 Main St, Medway 02053</p>\n<p style=\"color: #a6a6a6; font-size: 10pt; margin: 0;\">P. 508-359-5900 x 219</p>\n<br>\n<p>We Build Trust</p>\n<br>\n<a href=\"https://www.webmasterstouch.com\"  style=\"color: #44546a; font-size: 9pt;\"><b>[www.masterstouchweb.com]www.masterstouchweb.com</b></a> | <a href=\"https://facebook.com/masterstouchweb\"  style=\"color: #44546a; font-size: 9pt;\"><b>MTDB on Facebook</b></a> | <a href=\"https://masterstouchweb.com/blog\"  style=\"color: #44546a; font-size: 9pt;\"><b>Blog</b></a> | <a href=\"https://www.houzz.com/pro/masterstouchweb/__public\" style=\"color: #44546a; font-size: 9pt;\"></a> | <a href=\"https://www.google.com/search?source=hp&ei=qv5dWo6ONofGjwSYn6mIAQ&q=masters+touch+design+build+on+youtube&oq=masters&gs_l=psy-ab.1.1.35i39k1l2j0i20i264k1l2j0j0i131k1l3j0l2.1377.2019.0.3864.9.7.0.0.0.0.236.832.0j4j1.6.0....0...1c.1.64.psy-ab..3.6.939.6..0i131i20i264k1.112.o1kgoVVFoYk\"  style=\"color: #44546a; font-size: 9pt;\"><b>MTDB on YouTube</b></a>\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1280,
        -192
      ],
      "id": "790faa98-c642-4b0b-b8d2-71e54f090bec",
      "name": "Workflow Configuration"
    },
    {
      "parameters": {
        "fieldToSplitOut": "value",
        "options": {}
      },
      "id": "814f51b9-d100-4a42-810b-af55ac8d7efc",
      "name": "Split Out Teams",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1776,
        128
      ]
    },
    {
      "parameters": {
        "url": "https://graph.microsoft.com/v1.0/me/joinedTeams",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1536,
        128
      ],
      "id": "2ab19dfb-dc77-474b-93a6-202d5619667b",
      "name": "Get all Teams",
      "credentials": {
        "oAuth2Api": {
          "id": "ssSPNX2xiJcJTb0m",
          "name": "Microsoft Graph - Authorize Code"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://graph.microsoft.com/v1.0/teams/{{ $json.id }}/primaryChannel",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1824,
        496
      ],
      "id": "0ca58118-7d76-464e-8de6-71954578e68d",
      "name": "Get Teams Primary Channel",
      "credentials": {
        "oAuth2Api": {
          "id": "ssSPNX2xiJcJTb0m",
          "name": "Microsoft Graph - Authorize Code"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://graph.microsoft.com/v1.0/teams/{{ $('Split Out Teams').item.json.id }}/tags",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2000,
        128
      ],
      "id": "5d142aed-c41b-4731-a34f-956b0324b22a",
      "name": "Get Client Teams Tags",
      "credentials": {
        "oAuth2Api": {
          "id": "ssSPNX2xiJcJTb0m",
          "name": "Microsoft Graph - Authorize Code"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://graph.microsoft.com/v1.0/teams/{{ $('Split Out Teams').item.json.id }}/tags/{{ $json.value[0].id }}/members",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2208,
        128
      ],
      "id": "61623d44-98e1-4e3f-95eb-607d34fd8786",
      "name": "Get Client Team Members",
      "credentials": {
        "oAuth2Api": {
          "id": "ssSPNX2xiJcJTb0m",
          "name": "Microsoft Graph - Authorize Code"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const katie_email = $('Workflow Configuration').first().json.katie_email || \"KatieZ@masterstouchweb.com\";\nconst clientTeamMembers = $input.all();\nlet attendees = $('Loop Over Meeting Items').first().json.attendees;\nattendees = attendees.filter((item) => item !== katie_email);\n\nconst matchedTeams = [];\n\nclientTeamMembers.forEach((item) => {\n  if (attendees.includes(item.json.email)) {\n    if (\n      !matchedTeams.find(\n        (team) =>\n          team.teamId === item.json.teamId && team.email === item.json.email,\n      )\n    ) {\n      matchedTeams.push(item);\n    }\n  }\n});\n\nreturn matchedTeams;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3056,
        128
      ],
      "id": "cd1f1a70-2cdc-4c81-ab27-14b906c4c9c1",
      "name": "Filter Teams to Post Note"
    },
    {
      "parameters": {
        "url": "=https://graph.microsoft.com/v1.0/users/{{ $json.userId }}?$select=mail",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2656,
        128
      ],
      "id": "77b3a649-e513-4b5a-a875-26066cd8b7a1",
      "name": "Get User Email",
      "credentials": {
        "oAuth2Api": {
          "id": "nWbw4c10mqgIAAJ8",
          "name": "Microsoft Graph - Client Credential"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const teams = $input.all();\n\nlet output = [];\n\nteams.forEach((team, index) => {\n  const teamId = team.json[\"@odata.context\"].match(/teams\\('([^']+)'\\)/)?.[1];\n  team.json.value.forEach((member) => {\n    output.push({\n      json: {\n        ...member,\n        teamId,\n      },\n      pairedItem: { item: index },\n    });\n  });\n});\n\nreturn output;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2432,
        128
      ],
      "id": "0a18f6a9-dc05-4a96-a56e-fc5b9d484e95",
      "name": "Split Client Teams Members"
    },
    {
      "parameters": {
        "jsCode": "const clientTeamMembers = $('Split Client Teams Members').all();\nconst emails = $input.all();\n\nconst output = clientTeamMembers.map((item, index) => ({\n  ...item.json,\n  email: emails[index].json.mail                                                 \n}))\n\nreturn output;\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2864,
        128
      ],
      "id": "67253858-8796-420e-90a8-e5ffcda3a0ed",
      "name": "Add Email Address"
    },
    {
      "parameters": {
        "url": "=https://graph.microsoft.com/v1.0/teams/{{ $json.teamId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1584,
        496
      ],
      "id": "ad59b2d0-1abf-43f4-a066-69b15f67dd4f",
      "name": "Get Teams",
      "credentials": {
        "oAuth2Api": {
          "id": "ssSPNX2xiJcJTb0m",
          "name": "Microsoft Graph - Authorize Code"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const teams = $(\"Get Teams\").all();\nconst channels = $input.all();\nconst meeting = $(\"Loop Over Meeting Items\").first().json;\n\nconst output = [];\n\nteams.forEach((team) => {\n  const messageBody = {\n    body: {\n      contentType: \"html\",\n      content: `<p>Just reminding everyone of these items that we discussed earlier this week, in case any slipped through the cracks.</p><br><h2>Action Items</h2>${meeting.actionItemsHTML}<br><h2>Parking Lot</h2>${meeting.parkingLotHTML}<at id=\"0\">${team.json.displayName}</at>`,\n    },\n    mentions: [\n      {\n        id: 0,\n        mentionText: team.json.displayName,\n        mentioned: {\n          conversation: {\n            id: team.json.id,\n            displayName: team.json.displayName,\n            conversationIdentityType: \"team\",\n          },\n        },\n      },\n    ],\n  };\n\n  const teamId = team.json.id;\n  const channelId = channels.find((item) =>\n    item.json[\"@odata.context\"].includes(teamId),\n  )?.json.id;\n\n  output.push({\n    json: {\n      messageBody,\n      teamId,\n      channelId,\n      teamsMessageId: JSON.parse(meeting.teamsMessageIds).find(\n        (item) => item.teamId === teamId && item.channelId === channelId,\n      ),\n    },\n  });\n});\n\nreturn output;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2032,
        496
      ],
      "id": "f0ee8180-842a-46e8-8d8c-c3e60002d191",
      "name": "Build Message"
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "3FL0YLoRyCgv9qnC",
          "mode": "list",
          "cachedResultName": "Katie Meeting",
          "cachedResultUrl": "/projects/EkpdkMs5fMOnKaV6/datatables/3FL0YLoRyCgv9qnC"
        },
        "filters": {
          "conditions": [
            {
              "keyValue": "={{ $('Loop Over Meeting Items').item.json.id }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "reminderSent": 1
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "meetingId",
              "displayName": "meetingId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "subject",
              "displayName": "subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "startTime",
              "displayName": "startTime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "endTime",
              "displayName": "endTime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "joinUrl",
              "displayName": "joinUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "join_timestamp",
              "displayName": "join_timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "left_timestamp",
              "displayName": "left_timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "attendees",
              "displayName": "attendees",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "email_id",
              "displayName": "email_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "processed",
              "displayName": "processed",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "recallBotId",
              "displayName": "recallBotId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "isEmailRead",
              "displayName": "isEmailRead",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "organizer",
              "displayName": "organizer",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "transcript",
              "displayName": "transcript",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "reminderSent",
              "displayName": "reminderSent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        3152,
        608
      ],
      "id": "7b73e1e6-9b5f-4ebb-b1fb-ab14a21d11fe",
      "name": "Update Table (reminderSent = 1)"
    },
    {
      "parameters": {
        "content": "## Automated Action Items & Parking Lot Teams Reminder\nFor every meeting, this workflow waits four business days (counting the meeting day as day one) and then posts a reminder as a comment on the original Microsoft Teams message. The reminder includes only the action items and parking lot topics discussed, uses the provided reminder text, and tags the entire team so everyone is notified - helping ensure nothing slips through the cracks",
        "width": 688
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1536,
        -480
      ],
      "typeVersion": 1,
      "id": "687909e6-75e9-486a-8394-420e86a0eeb0",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.microsoft.com/v1.0/teams/{{ $json.teamId }}/channels/{{ $json.channelId }}/messages/{{ $json.teamsMessageId.messageId }}/replies",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.messageBody }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2304,
        496
      ],
      "id": "a47f2f17-e864-4f53-aee5-5eb06882ec45",
      "name": "Reply to Notes Message",
      "credentials": {
        "oAuth2Api": {
          "id": "ssSPNX2xiJcJTb0m",
          "name": "Microsoft Graph - Authorize Code"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Every day at 4 PM": {
      "main": [
        [
          {
            "node": "Workflow Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Meeting Notes": {
      "main": [
        [
          {
            "node": "Filter Notes to Send",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Notes to Send": {
      "main": [
        [
          {
            "node": "Extract Subject, Action Items, and Parking Lot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Subject, Action Items, and Parking Lot": {
      "main": [
        [
          {
            "node": "Loop Over Meeting Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Email Address Items": {
      "main": [
        [
          {
            "node": "Update Table (reminderSent = 1)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Note to Attendees",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Meeting Items": {
      "main": [
        [],
        [
          {
            "node": "Get all Teams",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out Email Addresses": {
      "main": [
        [
          {
            "node": "Loop Over Email Address Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Note to Attendees": {
      "main": [
        [
          {
            "node": "Loop Over Email Address Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Configuration": {
      "main": [
        [
          {
            "node": "Get Meeting Notes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out Teams": {
      "main": [
        [
          {
            "node": "Get Client Teams Tags",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get all Teams": {
      "main": [
        [
          {
            "node": "Split Out Teams",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Teams Primary Channel": {
      "main": [
        [
          {
            "node": "Build Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Client Teams Tags": {
      "main": [
        [
          {
            "node": "Get Client Team Members",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Client Team Members": {
      "main": [
        [
          {
            "node": "Split Client Teams Members",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Teams to Post Note": {
      "main": [
        [
          {
            "node": "Get Teams",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get User Email": {
      "main": [
        [
          {
            "node": "Add Email Address",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Client Teams Members": {
      "main": [
        [
          {
            "node": "Get User Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Email Address": {
      "main": [
        [
          {
            "node": "Filter Teams to Post Note",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Teams": {
      "main": [
        [
          {
            "node": "Get Teams Primary Channel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Message": {
      "main": [
        [
          {
            "node": "Reply to Notes Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Table (reminderSent = 1)": {
      "main": [
        [
          {
            "node": "Loop Over Meeting Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reply to Notes Message": {
      "main": [
        [
          {
            "node": "Split Out Email Addresses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "9ed57977-a7c8-401a-9ee0-a68e68cb27d3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b87a9ffede84f6e2e99ef9ba12576a51d02db4c4e605200cfe4d1546834d5cc7"
  },
  "id": "Q56lf1uF2OKsugj3DKirW",
  "tags": []
}